@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-olive: #ABBF84;
  --color-olive-dark: #859966;
  --color-olive-light: #C1D2A6;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-100 transition-colors duration-300;
    @apply selection:bg-olive selection:text-slate-900;
  }
}

@layer components {
  .contact-link {
    @apply transition-colors duration-300 hover:text-olive-dark text-slate-800 hover:dark:text-olive dark:text-slate-200;
  }

  .skill-card {
    @apply rounded-sm ring-1 ring-slate-200 dark:ring-slate-700 shadow-xs/30
      text-slate-950 dark:text-slate-200
      p-2 flex flex-row items-center gap-x-2
      hover:-translate-y-1 transition-all duration-150
      hover:shadow-md/30;
  }

  .skill-card-text {
    @apply text-slate-600 dark:text-slate-300 text-sm;
  }

  .section-label {
    @apply bg-slate-100 w-fit py-1 px-3 rounded-sm text-sm text-slate-600 dark:bg-slate-800 dark:text-slate-200;
  }
  
  .project-card {
    @apply rounded-lg ring-1 ring-slate-200 dark:ring-slate-700 shadow-lg/5 p-5;
  }
}